.DS_Store
.git
.github
.next
.vercel
node_modules
**/node_modules
npm-debug.log*

.env
.env.*
!.env.example

coverage
dist
**/dist
build
**/build
out
**/out
*.tsbuildinfo
**/*.tsbuildinfo
reports
tmp
*.zip
*.log
